
			<h1>Components ({{types.length}})</h1>
			<form ng-submit="addType()">
				<label for="type-name">New type</label>  <input type="text" placeholder="Layout type" id="type-name" ng-model="newType" />
				<button type="submit" class="btn btn-default">Add</button>
			</form>
			
			<script type="text/ng-template" id="myModalContent.html">
			
				<div class="modal-header">
					<h2>Edit Layout Type</h2>
				</div>
				<div class="modal-body">
					<label for="type-name-edit">Name <input type="text" ng-model="editTypeName" id="type-name-edit" /></label>
					<label for="type-description-edit">Description <input type="text" ng-model="editTypeDescription" id="type-description-edit" /></label>
				</div>
				<div class="modal-footer">
					<button ng-click="saveEdit()" class="btn btn-default">Save Edit</button><button ng-click="closeModal()" class="btn btn-default">Cancel</button>
				</div>
			
			</script>

			<ul class="listOfTypes">
				<li ng-repeat="type in types" class="col-xs-12 col-sm-5 col-md-3 col-lg-2">{{type.name}}
					<div class="itemButtons">
						<button ng-click="inEdit()" class="btn btn-default">Edit <span class="glyphicon glyphicon-pencil"></span></button>
						<button ng-click="deleteItem()" class="btn btn-default">Delete <span class="glyphicon glyphicon-remove"></span></button>
					</div>
				</li>
			</ul>
			
