			<h1>Patterns ({{types.length}})</h1>
			<form ng-submit="addType()">
				<label for="type-name">New type</label>  <input type="text" placeholder="Layout type" id="type-name" ng-model="newType" />
				<button type="submit" class="btn btn-default">Add</button>
			</form>
			
			<ul class="listOfTypes">
				<li ng-repeat="type in types | orderBy:predicate" class="col-xs-12 col-sm-5 col-md-3 col-lg-2">{{type.name}}
					<div class="itemButtons">
						<button ng-click="inEdit()" class="btn btn-default">Edit <span class="glyphicon glyphicon-pencil"></span></button>
						<button ng-click="deleteItem()" class="btn btn-default">Delete <span class="glyphicon glyphicon-remove"></span></button>
					</div>
				</li>
			</ul>
			
