

body {
	background: #eee;
}

.container {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px;
    padding-bottom: 20px;
    background: #fff;
    box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.75);
}

ul.listOfTypes, ul.elNav {
	list-style-type: none;
	padding: 0;
}
ul.listOfTypes li {
	display: inline;
	border: 1px solid #ccc;
	border-radius: 3px;
	background: #eee;
	padding: 5px;
	margin: 6px 6px 0 0;
	box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
}
ul.listOfTypes li.checked {
	background: #ccc;
}

ul.elNav li {
	display: inline;
	padding: 5px;
}

ul.elNav li a {
	text-decoration: underline;
}

label {
	display: block;
}

.modal-body input {
	margin-bottom: 10px;
}

.modal-body textarea {
	height: 70px;
	width: 50%;
}

.glyphicon {
	margin-left: 10px;
}